snippet tag "tag selector"
${1:tag} {
	$0
}
endsnippet

snippet id "id selector"
#${1:id} {
	$0
}
endsnippet

snippet class "class selector"
.${1:class} {
	$0
}
endsnippet

snippet prop "property"
${1:name}: ${2:value};
endsnippet
