# Selectors

snippet s "tag selector"
${1:tag} {
	$0
}
endsnippet

snippet # "id selector"
#${1:id} {
	$0
}
endsnippet

snippet . "class selector"
.${1:class} {
	$0
}
endsnippet

# Properties

snippet : "property"
${1:name}: ${2:value};
endsnippet
