extends markup

# Document

snippet doc "doctype"
<!doctype html>
$0
endsnippet

# Angular

snippet a* "structural directive" w
*ng${1:name}="${2:value}"
endsnippet

snippet a) "component interaction" w
(${1:name})="${2:value}"
endsnippet
