snippet t "single-line tag with no attributes"
<${1:name}>$0</$1>
endsnippet

snippet ta "single-line tag with attributes"
<${1:name} ${2:attributes}>$0</$1>
endsnippet

snippet tm "multi-line tag with no attributes"
<${1:name}>
	$0
</$1>
endsnippet

snippet tam "multi-line tag with attributes"
<${1:name} ${2:attributes}>
	$0
</$1>
endsnippet

snippet a "attribute" w
${1:name}="${2:value}"
endsnippet
